.navbar {
  min-height: 0px;
}
.navbar-inverse .navbar-nav>li>a {
  height: 100%;
  padding: 7px 13px;
}
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.navbar-right {
  float: right!important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  font-size: 16px;
  margin-left: -9px;
}
.new-message {
  display: inline-block;
}
#text {
  margin-right: 5px;
  width: 90%;
}
#send {
  float: right;
}
#message-send-bar {
  display: inline-flex;
  overflow: hidden;
  position: fixed;
  bottom: 1%;
  width: 90%;
}
#messages {
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin-bottom: 2%;
  height: 71vh;
}
#settings img {
  width: 20px;
  height: 20px;
}
.message {
  margin-bottom: 2%;
}
.message .sent {
  text-align: right;
  margin-right: 2%;
}
.message .received {
  text-align: left;
  margin-left: 2%;
}
.message .message-img {
  width: 90%;
  margin-bottom: 5%;
}
.message .created_at {
  color: gray;
  font-size: 75%;
}
.attach-file {
  margin-right: 5px;
  margin-top: 3px;
  cursor: pointer;
}
.attach-file > input {
  display: none;
}
.attach-file > label > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.send-to-heading {
  display: inline-block;
}
.create-new-msg {
  display: inline-block;
  float: right;
}
#dropdownContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow-y: scroll;
  position: absolute;
  top: 110%;
  left: 73%;
  width: 347px;
  z-index: 1;
}
#containerTitle {
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
#containerBody {
  padding: 15px 0px 0px 0px !important;
  max-height: 243px;
}
.settings {
  overflow-y: visible;
}
.container-link {
  cursor: pointer;
  margin: 0 10px 0 10px;
}
.container-link:hover {
  background-color: #CCCCCC;
}
.container-user {
  font-size: 16px;
  font-weight: 500;
}
.conversation-datetime {
  font-size: 10px;
  float: right;
}
.conversation-text {
  font-size: 13px;
}
.divider {
  height: 2px;
  background-color: gray;
  margin: 5px 0px;
}
.bubble {
  background: #e02424;
  position: absolute;
  right: -2px;
  top: 4px;
  padding: 2px 6px;
  color: #fff;
  font: bold .6em Tahoma, Arial, Helvetica;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 7px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #888;
  position: absolute;
  top: 45px;
}
.conversations-wrap .arrow-up {
  right: 217px;
}
.online-users-wrap .arrow-up {
  right: 93px;
}
.settings-wrap .arrow-up {
  right: 9px;
}
.settings-wrap #dropdownContainer {
  overflow-y: visible;
}