certifi==2017.4.17
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
dj-database-url==0.4.2
Django==1.11.3
django-braces==1.11.0
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.0.8
django-rest-swagger==2.1.2
djangorestframework==3.6.3
djangorestframework-jwt==1.11.0
drfdocs==0.0.11
future==0.16.0
gunicorn==19.7.1
httplib2==0.10.3
idna==2.5
itypes==1.1.0
Jinja2==2.9.6
MarkupSafe==1.0
oauth2client==4.1.2
oauthlib==2.0.2
openapi-codec==1.3.1
psycopg2==2.7.3.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycryptodomex==3.4.6
pyjwkest==1.3.6
PyJWT==1.5.2
python-openid==2.2.5
python-social-auth==0.3.6
pytz==2017.2
requests==2.18.1
requests-oauthlib==0.8.0
rsa==4.7.1
simplejson==3.11.1
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
sqlparse==0.2.3
uritemplate==3.0.0
urllib3==1.21.1
whitenoise==3.3.0
