<link rel="stylesheet" href="public/components/css/message.css">

<div id="message-list" ng-controller='MessageController'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{errors}}
        <div id="message-create-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for users..." ng-if='!send_to' ng-model="send_to" uib-typeahead="user.username for user in users | filter:$viewValue" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label)">
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>

            <div ng-if='send_to'>
              <strong> {{ send_to }} </strong>
              <hr>
            </div>
          </div>

          <div id="messages" ng-if='send_to'>
            <div ng-repeat="message in messages" class="message">
              <div ng-class="message.is_received ? 'received' : 'sent'">
                <div class="created_at">
                  {{ message.created_at }}
                </div>
                <div class="message-text" ng-if="!message.ufile"> {{ message.text }}</div>
                <div ng-if="message.ufile">
                  <a ng-href="{{ message.ufile }}" target="_blank"><img ng-if='message.is_img' ng-src='{{ message.ufile }}' class='message-img'></a>
                  <a ng-if='!message.is_img' ng-href='{{ message.ufile }}' class='message-name' target="_blank">{{ message.ufile_name }}</a>
                </div>
              </div>
              <br><br>
            </div>
          </div>

          <div class="form-group">
            <div id="message-send-bar">
              <textarea name="text" id="text" rows="1" cols="60" class="form-control" placeholder="Enter message here..." ng-model="text"></textarea>
              <div class="attach-file">
                <label for="attach">
                  <img src="public/components/img/attach-file-icon.png">
                </label>
                <input type="file" ngf-select ng-model="ufiles" ngf-max-size="1MB" ngf-multiple="true" name="ufile" id="attach">
              </div>

              <button id="send" class="btn btn-primary" ng-click="create_message(ufiles)" >Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
	$(document).ready(function() {
		angular.element('#message-list').scope().init();
	});
</script>