<link rel="stylesheet" href="public/components/css/login.css">

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
          <h3>Login to Chat</h3>
        </div>
        <hr>
        <div id="login-form" class="text-left" ng-controller="LoginController">
          <label for="username" class="sr-only">Username</label>
          <div class="form-group">
            <input type="text" name="username" id="username" placeholder="Username" class="form-control" ng-model="username" required="true">
          </div>
          <label for="password" class="sr-only">Password</label>
          <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Password" class="form-control" ng-model="password" required="true">
          </div>

          <div class="error">
            <h5>{{ errors }}</h5>
          </div>

          <center>
            <input type="button" id="login" value="Login" class="btn btn-primary" ng-click="login()">
            <h5> Or, </h5>
            <div id="google-signin" data-onsuccess="onSignIn"></div>
          </center>

          <hr>
          <center><h5><strong>Note: For first time users, sign in with Google.</strong></h5></center>
        </div>
    </div>
  </div>
</div>

<script>
  function onSignIn(gUser) {
    var id_token = gUser.getAuthResponse().id_token;
    angular.element('#login-form').scope().glogin(id_token);
  }
  function onFailure(error) {
      console.log(error);
  }

  function renderButton() {
    gapi.signin2.render('google-signin', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'light',
      'onsuccess': onSignIn,
      'onfailure': onFailure
    });
  }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script>
  $(document).ready(function(){
    $('nav').attr('hidden', true);
  });
  window.onbeforeunload = function(e){
    gapi.auth2.getAuthInstance().signOut();
  };
</script>