<link rel="stylesheet" href="public/components/css/message.css">

<div id="message-list" ng-controller='MessageController'>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navigation-bar">
        <ul class="nav navbar-nav navbar-left new-message">
          <li>
            <a class="navbar-brand" href="/#/">New Message</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="pull-right">
            <a id="settings" role="button" ng-click="showSettingsHandler($event)">
              <img src="public/components/img/settings-icon.png">
            </a>
          </li>
          <li class="pull-right">
            <a class="navbar-brand" id="onlineUsers" role="button" ng-click="showOnlineUsersHandler($event)">
              Online Users <span class="bubble">{{ onlineUsers.length }}</span>
            </a>
          </li>
          <li class="pull-right">
            <a class="navbar-brand" id="conversations" role="button" ng-click="showConversationsHandler($event)">
              Conversations <span class="bubble" ng-if="unreadMessages.length">{{ unreadMessages.length }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="conversations-wrap" ng-class="showConversations ? '': 'hide'">
        <div class="arrow-up"></div>
        <div id="dropdownContainer" dropdown-listener>
          <div id="containerTitle">Conversations</div>
          <div id="containerBody">
            <div ng-repeat="msg in conversations" class="container-link" ng-click="onSelect('', '', msg.user)">
              <div class="conversation-datetime">{{ msg.created_at }}</div>
              <div class="container-user">{{ msg.user }}</div>
              <div class="conversation-text">{{ msg.text || msg.ufile_name }}</div>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="online-users-wrap" ng-class="showOnlineUsers ? '': 'hide'">
        <div class="arrow-up"></div>
        <div id="dropdownContainer" dropdown-listener>
          <div id="containerTitle">Online Users</div>
          <div id="containerBody">
            <div ng-repeat="user in onlineUsers" class="container-link" ng-click="onSelect('', '', user)">
              <div class="container-user">{{ user }}</div>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="settings-wrap" ng-class="showSettings ? 'settings': 'settings hide'">
        <div class="arrow-up"></div>
        <div id="dropdownContainer" dropdown-listener>
          <div id="containerTitle">Settings</div>
          <div id="containerBody">
            <div>
              <div class="container-link">
                Change Username
                <div class="divider"></div>
              </div>
              <div class="container-link">
                Change Password
                <div class="divider"></div>
              </div>
              <div class="container-link" ng-click="onSelect('', '', 'logout')">
                Logout
                <div class="divider"></div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{errors}}
        <div id="message-create-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for users..." ng-if='!send_to' ng-model="send_to" uib-typeahead="user.username for user in users | filter:$viewValue" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label)">
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>

            <div ng-if='send_to'>
              <div class="send-to-heading">
                Talking to <strong> {{ send_to }} </strong>
              </div>
              <hr>
            </div>
          </div>

          <div id="messages" ng-if='send_to'>
            <message-item ng-repeat="msg in messages"></message>
          </div>

          <div class="form-group" ng-if="send_to">
            <div id="message-send-bar">
              <textarea name="text" id="text" rows="1" cols="60" class="form-control" placeholder="Enter message here..." ng-model="text"></textarea>
              <div class="attach-file">
                <label for="attach">
                  <img src="public/components/img/attach-file-icon.png">
                </label>
                <input type="file" ngf-select ng-model="ufiles" ngf-max-size="1MB" ngf-multiple="true" name="ufile" id="attach">
              </div>

              <button id="send" class="btn btn-primary" ng-click="create_message(ufiles)">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    angular.element('#message-list').scope().init();
  });
</script>